<form action="/employee/add-employee" method="POST">
    <div>
        <h1>Employee Information</h1>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="email">E-mail</label>
        <input type="text" name="email" id="email">

        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">

        <label for="nationality">Nationality</label>
        <input type="text" name="nationality" id="nationality">

        <label for="documentType">Document Type</label>
        <input type="text" name="documentType" id="documentType">

        <label for="documentNumber">Document Number</label>
        <input type="text" name="documentNumber" id="documentNumber">

        <label for="address">Address</label>
        <input type="text" name="address" id="address">

        <label for="birthDate">Birth Date</label>
        <input type="date" name="birthDate" id="birthDate">

        <label for="job">Job</label>
        <select name="job" id="job">
            <option value="manager" selected>Manager</option>
            <option value="receptionist">Receptionistn</option>
            <option value="maid">Maid</option>
            <option value="security">Security</option>
            <option value="cleaning">Cleaning</option>
        </select>

        <label for="salary">Salary</label>
        <input type="number" name="salary" id="salary">

        <label for="workShift">Work Shift</label>
        <select name="workShift" id="workShift">
            <option value="morning" selected>Morning</option>
            <option value="afternoon">Afternoon</option>
            <option value="night">Night</option>
        </select>

    </div>
    <button type="submit">Add Employee</button>
    <input type="reset" value="Reset">
</form>