<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/host/hosts">Hosts</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Host</li>
  </ol>
</nav>
<h1>Host Information</h1>
<form action="/host/add-host" method="POST">
    <div class="row">
        <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="E-mail">
        </div>
        <div class="col-md-4">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
        </div>
        <div class="col-md-2">
            <label for="nationality" class="form-label">Nationality</label>
            <input type="text" class="form-control" name="nationality" id="nationality" placeholder="Nationality">
        </div>
        <div class="col-md-4">
            <label for="documentType" class="form-label">Document Type</label>
            <input type="text" class="form-control" name="documentType" id="documentType" placeholder="Document Type">
        </div>
        <div class="col-md-6">
            <label for="documentNumber" class="form-label">Document Number</label>
            <input type="text" class="form-control" name="documentNumber" id="documentNumber"
                placeholder="Document Number">
        </div>
        <div class="col-md-4">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Address">
        </div>
        <div class="col-md-6">
            <label for="birthDate" class="form-label">Birth Date</label>
            <input type="date" class="form-control" name="birthDate" id="birthDate" placeholder="Birth Date">
        </div>
        <div class="col-md-2">
            <label for="type" class="form-label">Type</label>
            <select name="type" id="type" class="form-select">
                <option value="natural" selected>Natural Person</option>
                <option value="legal">Legal Person</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Host</button>
    <input type="reset" value="Reset" class="btn btn-secondary">
</form>