<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/booking/bookings">Booking</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Booking</li>
    </ol>
</nav>
<h1>Booking Information</h1>
<form action="/booking/add-booking" method="POST">
    <div class="row">
        <div class="col-md-6">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select">
                <option value="all inclusive" selected>All Inclusive</option>
                <option value="pension">Pension</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="HostIdHost" class="form-label">Host</label>
            <select name="HostIdHost" id="HostIdHost" class="form-select">
                {{#each hosts}}
                <option value="{{{this.dataValues.idHost}}}">{{{this.dataValues.name}}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Room</button>
    <input type="reset" value="Reset" class="btn btn-secondary">
</form>