<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/hotel/hotels">Hotels</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Hotel</li>
  </ol>
</nav>
<h1>Hotel Information</h1>
<form action="/hotel/add-hotel" method="POST">
    <h2>Basic Informations</h2>
    <div class="row">
        <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Name" name="name" id="name">
        </div>

        <div class="col-md-2">
            <label for="stars" class="form-label">Stars</label>
            <select name="stars" id="stars" class="form-select">
                <option value="one" selected>One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="type" class="form-label">Type</label>
            <select name="type" id="type" class="form-select">
                <option value="hotel" selected>Hotel</option>
                <option value="resort">Resort</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" rows="10" cols="60"
                placeholder="Description..."></textarea>
        </div>

    </div>

    <div class="row">
        <h2>Hotel Services</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="shuttle" id="shuttle" value="true">
            <label class="form-check-label" for="shuttle">Shuttle</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="parking" id="parking" value="true">
            <label class="form-check-label" for="parking">Parking</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="pool" id="pool" value="true">
            <label class="form-check-label" for="pool">Pool</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="pet" id="pet" value="true">
            <label class="form-check-label" for="pet">Pet</label>
        </div>
    </div>
    <div class="row">
        <h2>Address Information</h2>
        <div class="col-md-6">
            <label for="address" class="form-label">Adress</label>
            <input type="text" name="address" class="form-control" placeholder="Address" id="address">
        </div>
        <div class="col-md-2">
            <label for="number" class="form-label">Number</label>
            <input type="text" name="number" class="form-control" placeholder="Number" id="number">
        </div>
        <div class="col-md-4">
            <label for="complement" class="form-label">Complement</label>
            <input type="text" class="form-control" placeholder="Complement" name="complement" id="complement">
        </div>
        <div class="col">
            <label for="district" class="form-label">District</label>
            <input type="text" class="form-control" placeholder="District" name="district" id="district">
        </div>
        <div class="col">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" placeholder="City" name="city" id="city">
        </div>
        <div class="col">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" placeholder="State" name="state" id="state">
        </div>
        <div class="col">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" placeholder="Country" name="country" id="country">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Hotel</button>
    <input type="reset" value="Reset" class="btn btn-secondary">
</form>