<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/hotel/hotels">Hotels</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Room</li>
    </ol>
</nav>
<h1>Room Information</h1>
<form action="/room/add-room" method="POST">
    <div class="row">
        <div class="col-md-4">
            <label for="roomNumber" class="form-label">Room Number</label>
            <input type="text" class="form-control" name="roomNumber" id="roomNumber">
        </div>
        <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="col-md-4">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="col-md-4">
            <label for="floor" class="form-label">Floor</label>
            <input type="text" class="form-control" name="floor" id="floor">
        </div>
        <div class="col-md-6">
            <label for="dailyCost" class="form-label">Daily Cost</label>
            <input type="number" class="form-control" name="dailyCost" id="dailyCost">
        </div>
        <div class="col-md-2">
            <label for="type" class="form-label">Type</label>
            <select name="type" id="type" class="form-select">
                <option value="single" selected>Single</option>
                <option value="double">Double</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="classRoom" class="form-label">Class Room</label>
            <select name="classRoom" id="classRoom" class="form-select">
                <option value="deluxe" selected>Deluxe
                </option>
                <option value="standard">Standard
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="status" class="form-label">Status</label>
            <select name="status" id="status" class="form-select">
                <option value="available" selected>Available
                </option>
                <option value="not available">Not
                    Available</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="HotelIdHotel" class="form-label">Hotel</label>
            <select name="HotelIdHotel" id="HotelIdHotel" class="form-select">
                {{#each hotels}}
                <option value="{{{this.dataValues.idHotel}}}">{{{this.dataValues.name}}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Room</button>
    <input type="reset" value="Reset" class="btn btn-secondary">
</form>